@model SignInForm;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppBroker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppBroker.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @using (Html.BeginForm("SignIn", "User", HttpMethod.Post))
            {
                @Html.AntiForgeryToken();
                <form>
                    <div class="row mb-3">
                        @Html.Label("","Email",new {@class="col-sm-2 col-form-label"})
                        <div class="col-sm-10">
                            @Html.EditorFor(s=>s.Email,new {htmlAttributes = new {@class="form-control",@type="email"} })
                        </div>
                    </div>
                    <div class="row mb-3">
                        @Html.Label("","Password",new {@class="col-sm-2 col-form-label"})
                        <div class="col-sm-10">
                            @Html.EditorFor(s=>s.Password,new {htmlAttributes = new {@class="form-control",@type="password"} })
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="Submit" />
                    </div>
                </form>
            }
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
