@model AppBroker.ViewComponentBase.GridListModel;
@{
}
<table id="usergrid" class="table table-striped" style="width:100%" cellspacing="0">
    <thead>
        <tr>
            @foreach (var item in Model.Columns)
            {
                if (item.IsHidden)
                {
                    <th style="display:none">@item.DisplayName</th>
                }
                else
                {
                    <th>@item.DisplayName</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                @foreach (var rowcol in Model.Columns)
                {
                    if (rowcol.IsHidden)
                    {
                        <td style="display:none">@item[rowcol.Column].ToString()</td>
                    }
                    else
                    {
                        <td>@item[rowcol.Column].ToString()</td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        @for (int i = 1; i <= Model.RecordPagination; i++)
        {
            <li class="page-item"><a class="page-link" href="#">@i</a></li>
        }
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>